# 07 - Beginner Exercises


*   len()
*   sort()
*   sorted() 
*   range()

## ğŸƒğŸƒğŸƒ
1.Determine the number of elements in  ```mylist```.

In [2]:
# Write your own code in this cell 
mylist = [2, 3/2, 4/3, 5/4, 6/5, 7/6]

## ğŸƒğŸƒğŸƒ 
2.Determine the length of the string shown below. 
Is the count of characters you see in ```mystring``` actually equal to ```mystring```'s len()?

In [15]:
# Write your own code in this cell 
mystring = 'it\'s hot!'

## ğŸƒğŸƒğŸƒ 
3.Using the len() function, get the final entry of the ```mylist```.

In [ ]:
# Write your own code in this cell 
mylist = [3, -5, 7, -9, 11, -13, 15, -17, 19, -21, 23, -25, 27, -29]

## ğŸƒğŸƒğŸƒ  
4.The following list corresponds to Rostam, the hero of Shahnameh.
The final item on this list is a list of his children.
What was the name of Rostam's last kid, and how many letters did it have?
(use reverse indexing)

In [22]:
# Write your own code in this cell 
mylist = ["Rostam", "Iranian", "Zal" , "Rudaba", ["Sohrab", "Faramarz", "Siyavash", "Goshasp"]]

## ğŸƒğŸƒğŸƒ
5.1 Sort ```mylist``` in ascending order with ```sort()``` method.

5.2 Sort ```mylist``` in descending order with ```sort()``` method.

In [ ]:
# Write your own code in this cell 
mylist = [0, 34, 1, 13, 8, 21, 55, 3, 1, 5, 89, 144, 2]
# Ascending order

print(mylist)

# Descending order

print(mylist)

## ğŸƒğŸƒ
6.1 Sort ```mylist``` in ascending order with ```sorted()``` function.

6.2 Sort ```mylist``` in descending order with ```sorted()``` function.

In [ ]:
# Write your own code in this cell 
mylist = [0, 34, 1, 13, 8, 21, 55, 3, 1, 5, 89, 144, 2]
# Ascending order

print(mylist)

# Descending order

print(mylist)

## ğŸŒ¶ï¸ 
7.Print the dictionary keys in alphabetical order.

In [ ]:
# Write your own code in this cell 
mydict = {"name": "Rostam", "nationality": "Turanian",
          "father": "Zal" ,"mother": "Rudaabeh", "Spouse": "Tahmineh",
          "grandfather": "Sam", "delivery": "C-Section", "POB": "Zabol",
           "POD" : "Kabul",}

## ğŸƒğŸƒğŸƒ
8.Using ```input()``` function ask for **```user's name```** and then print **"Oh hi ```user's name```!"**

In [ ]:
# Write your own code in this cell

## ğŸƒğŸƒ 
9.This time ask the user , **"Please enter your age."**  Then multiply his/her age by **0.53** and save the result in a variable called ```age_in_mars``` and then print "You are ```age_in_mars``` years old on Mars ".

In [ ]:
# Write your own code in this cell

## ğŸƒğŸƒğŸƒ

10.Find the multiples of the numbers two, three, and five that are less than 100 and store them in the variables m2, m3 and m5, respectively, using the range() function.

In [ ]:
# Write your own code in this cell

## ğŸƒğŸƒğŸƒ

11.Can you make a list with descending steps of 50 from 1900 to 1300 as a result, the number 1300 is also included in the list.

In [ ]:
# Write your own code in this cell