# 16 - Intermediate Exercises

*   filter()
*   List Comprehension 
*   Dict Comprehension

## 
1.Filter the list using the **filter()** function so that only **negative** numbers remain. 

Do you believe such a function could be written using map() and lambda?

In [17]:
# Write your own code in this cell
mylist = [1, 9, -7, 0, -2, -1, 3, 4, 6, -5]
list(filter(lambda x: x < 0,mylist))

[-7, -2, -1, -5]

In [ ]:
# Write your own code in this cell

## 
2.Filter the numbers that are not divisible by three using the filter function.
so that only numbers divisible by three are sent to the new_list

In [21]:
# Write your own code in this cell
old_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
            21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38,
            39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56,
            57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74,
            75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92,
            93, 94, 95, 96, 97, 98, 99, 100]
new_list = list(filter(lambda x:x%3==0 ,old_list))
print(new_list)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

## 
3.Filter A,T, and C in a given string using the filter() and list() functions, as well as the.upper() method.

In [ ]:
# Write your own code in this cell
d = "AGCTTTTCATTCTGACTGCAACGGGCAATATGTCTCTG\
tgtggattaaaaaaagagtgtctgatagcagcttctgaactgg\
TTACCTGCCGTGAGTAAATTAAAATTTTATTGACTTAGGTCA"

## 
4.Remove **```;```** from the following string using the filter().

In [ ]:
# Write your own code in this cell
mystring = "IF (1=1) THEN dbms_lock.sleep(3); ELSE dbms_lock.sleep(0); END IF; END;"

## 
5.Using  filter() and is_prime() functions filter all prime numbers below 1000

In [56]:
# Write your own code in this cell
def is_prime(n):
    for i in range(2,int(n**0.5)+1):
        if n%i==0:
            return False     
    return True

## 
6.Using list comprehension and the is_prime() function, create a list like this: 
```
[1, 2, 3, 5, 7, 11, 13, 17, 19, 23,
29, 31, 37, 41, 43, 47, 53, 59, 61,
67, 71, 73, 79, 83, 89, 97]
```

In [43]:
# Write your own code in this cell

## 
7.The given dictionary is made up of singers, as well as their ages and nationalities.
Make a list of the names of singers under the age of 70 but over the age of 50.

In [57]:
# Write your own code in this cell
persons = {"Paul David Hewson" : (61, "Ireland"),
           "Saeed Mohammadi" : (63, "Iran"),
           "Alla Borisovna Pugacheva" : (77, "Russia"),
           "David Jon Gilmour" : (75, "United Kingdom"),
           "Aryana Sayeed" : (36, "Afghanistan"),
           "C矇line Marie Claudette Dion" : (53, "Canad"),
           "Caetano Emanuel Viana Telles Veloso" : (79, "Brazil")}

## 
8.Please use dict comprehension to swap the keys and values and create a new dictionary.

In [61]:
# Write your own code in this cell
x={"BTCUSDT":66678,"LINKUSDT":35.8,"ADAUSDT":2.166}